/* Variables globales */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
}

header {
    background-color: #f44336;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

h1 {
    font-size: 36px; /* Aumentamos el tamaño del título a 36px */
    margin: 0;
    flex-grow: 1;
}

h2 {
    font-size: 24px;
    margin: 0.5rem, 0;
}

p {
    font-size: 16px;
}

/* Variables index */

.busquedap{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}

.description{
    color: rgb(27, 27, 27);
}

.input{
    border: 1px solid #d32f2f; 
    border-radius: 5px;   
    padding: 5px; 
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 70px 45px;
   background: url(/Pokemones/fondopokemon.png);
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; 
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.pokemones {
    max-width: 50px;
    max-height: 50px;
    display: block;
    margin: 0 auto;
}

.actions {
    text-align: center;
}

.actions button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actions button.modify {
    background-color: #4CAF50;
    color: white;
}

.actions button.delete {
    background-color: #f44336;
    color: white;
}

.pokemon-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pokemon-image {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.pokemon-image img {
    max-width: 100%;
    height: auto;
}

.pokemon-details {
    flex: 2;
    text-align: left;
}

.tipo{
    width: 30px;
    height: 30px;
    margin: 10px;
}

/* modificar.php */

.title{
    margin-top: 50px;
}

.container{
    margin-top: 5%;
}

.imagen{
    width: 100px;
    margin: 20px;
}

label{
    color: #f44336;
    font-weight: bold;
    margin: 5px;
}

.input{
    margin: 5px;
    border-radius: 5px;
    border-color: #d32f2f;
}

.button{
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px; 
}

